@model WebSchool.Website.Models.ClassViewModel
@{
    ViewBag.Title = "Class Page";
}

<div class="jumbotron">
    <h1>Classes</h1>
    <p class="lead">Sign up for classes.</p>
</div>

<div class="row">
    @foreach (var classes in Model.Classes)
    {
        @String.Format(classes.ClassName, classes.ClassDescription)
        <a asp-action="Classes" asp-route-id="@classes.ClassId">Register</a>
        <br />
    }
</div>